<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <if condition='isDefined("SPRING_PROFILES_ACTIVE")'>
        <then>
            <include resource="logback-${SPRING_PROFILES_ACTIVE}.xml" />
        </then>
        <else>
            <include resource="logback-local.xml" />
        </else>
    </if>
</configuration>
